*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/*header section start*/

.navbar-2{
	right:0;
}
/*header ssection end*/

/*content section start*/

.content .content-list{
	list-style:none;
}
.content a{
	font-size:10px;
	color:gray;
}
.content i{
	font-size:8px;
	color:gray;
	font-weight:;
}
.content-head .badge{
	color:#00cc00;
	border:1px solid #00cc00;
}
.card-content{
	border-radius:10px;
	box-shadow:0 0 3px gray;
}
.img{
	height:200px;
	width:300px;
	border-radius:10px;
}
.image{
	
}	

.bed{
	width:100%;
	height:50px;
	border-radius:10px;
}
.floor{
	padding-left:150px;
}
.floor-1{
	padding-left:45px;
}
.bed{
	margin-left:0;
	padding-left:0;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.bed ul{
	padding-left:0;
	padding-top:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:center;
}
.bed li{
	list-style:none;
}
.img{
	width:100%;
}
.text{
	padding-top:10px;
	font-size:15px;
}
.content-1{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:center;
	padding-bottom:20px;
}
.floor{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.floor-1{
}

/*content section end*/


/*project-list section start*/
.card-project{
	box-shadow:0 0 3px gray;
	border-radius:10px;
}
.project-list h3{
	padding-left:15px;
}
/*project-list section end*/

/*card-details section start*/
.card-details{
	box-shadow:0 0 5px gray;
	border-radius:10px;
}
.more-1{
	width:px;
}
.more{
	text-align:center;
	width:200px;
}


/*card-details section end*/

/*amenity section start*/
.card-amenity{
	box-shadow:0 0 3px gray;
}

/*amenity section end*/


/*property links section start*/

.foot-property ul li{
	list-style:none;
	font-size:14px;
}
.foot-project ul li{
	list-style:none;
	font-size:13px;
}




/*property links section end*/

/*footer section start*/
.nav li a{
	color:#000;
}
.foot-text p{
	font-size:12px;
}
.foot-rights{
	font-size:10px;
	
}
.nav-item a:hover{
	color:##ffcc00;
}





/*footer section end*/























.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}
.col-3{
	width:25%;
	padding:0 15px;
}
.col-4{
	width:33.32%;
	padding:0 15px;
}
.col-5{
	width:41.65%;
	padding:0 15px;
}
.col-6{
	width:50%;
	padding:0 15px;
}
.col-7{
	width:58.31%;
	padding:0 15px;
}
.col-8{
	width:66.64%;
	padding:0 15px;
}
.col-9{
	width:75%;
	padding:0 15px;
}
.col-10{
	width:83.3%;
	padding:0 15px;
}
.col-11{
	width:91.63%;
	padding:0 15px;
}
.col-12{
	width:100%;
	padding:0 15px;
}